//
// @colors
//

$gray-ltst: #eee;
$gray-lt: #a9a9a9;
$gray: #575757;
$gray-md: #474747;
$gray-dk: #333;
$text: #333;
$blue: #1ea3e5; 
$blue-md: #1b75bc;
$blue-dk: #005198;
$blue-dkst: #0f4e80;

$callout: $blue;
$divide: $gray;

$black: #000;
$white: #fff;
$text: $gray;

.blue-fill{fill:$blue;}
.blue-md-fill{fill:$blue-md;}
.blue-dk-fill{fill:$blue-dk;}